<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv='content-Type' content='text/html;charset=utf-8'>
    <script src='/javascripts/jquery-3.2.1.min.js' type='text/javascript'></script>
    <link href='https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet'>
    <script src='https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
    <script type='text/javascript' src='/javascripts/signin.js'></script>
    <link rel='stylesheet' href='/stylesheets/signin.css' type='text/css'/>
    <title>Signin</title>      
  </head>
  <body>
    <div id='centerPosition'>
      <div id='title'>Login</div>   
      <form action='#' method='post' autocomplete='off'>
        <div class='inputBackground'><span class='glyphicon glyphicon-user'></span><input type='text' name='username' placeholder='请输入用户名' id='username'/><span class='glyphicon glyphicon-ok' id='usernameOk'></span><span class='glyphicon glyphicon-remove' id='usernameRemove'></span></div>
        <div class='inputBackground'><span class='glyphicon glyphicon-lock'></span><input type='password' name='password' placeholder='请输入密码' id='password'/><span class='glyphicon glyphicon-ok' id='passwordOk'></span><span class='glyphicon glyphicon-remove' id='passwordRemove'></span></div>
        <div id='captchaBackground'><input type='text' name='inputCaptcha' id='inputCaptcha' placeholder='请输入验证码' /><img id='captcha' src='/captcha'/></div>
        <input type='button' class='btn btn-default' id='submit' value='登录' />
      </form>
      <div id='usernameResult'></div>
      <div id='passwordResult'></div>
      <div id='captchaResult'></div>
      <a id='regist' href='/regist'>还没有账号? 注册一个</a>
    </div>
  </body>
</html>